<!DOCTYPE html>
<html>
  <head>
    <title>Episode9Code</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='container'>
      <div class='span-24'>
      	<p>
      	  <% if current_user %>
        	  Logged in as <%= current_user.email %>
        	  //
        	  <%= link_to 'Projects', projects_path %>
        	  //
        	  <%= link_to 'Logout', logout_path %>
          <% else %>
            <%= link_to 'Login', login_path %>
          <% end %>
        </p>
      </div>
      <% if notice %>
        <p class='success'><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
