<!DOCTYPE html>
<html>
  <head>
    <title>Episode9Code</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='container'>
      <% if notice %>
        <p class='success'><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
